/vendor/
/node_modules/
/.phpunit.cache/
composer.lock
.phpunit.result.cache
.DS_Store
Thumbs.db
*.log

# VuePress docs
docs/.vuepress/.temp/
docs/.vuepress/dist/
docs/node_modules/

# Apache configs (local only)
*.conf
